body {
    background-color: ghostwhite;
}
.header {
    text-align: center;
}

.content {
    margin-left:10%;
    margin-right:10%;

    min-height: 100%;
}

.nav {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px black;

    background-color: lightgray;
}